
.img-logo-carrito-navbar {
    width:40px;
    margin-top:0% ;
    margin-left: 50% ;
}

p{
    margin: -2% 0% 0% 53%;
    text-align: center;
    border-radius: 40px;
    border-color: #379d37;
    width: 17px;
    height: 20px;
    background-color: black;
    color: green;
    font-size: 15px;
}