.titulo-principal-header {
    font-size: 100px;
    font-family: 'Staatliches', cursive; 
    color: green;
    padding: 80px;
    text-align: center;
}

.conteiner-navbar {
    background-color: bisque;
}

.navbar {
    width: 100%;
}


.list-navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Staatliches', cursive; 
    background-color: white;
    border: green double 3px;
    text-decoration: none;
    text-align: center;
    color: white;
}

.subtitulo-bienvenida {
    font-size: 20px;
    text-align:  center;
}