.titulo-principal-header {
    margin-left:7%;
    color: green;
    font-size:40px ;
}

.conteiner-navbar {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height:150px;
}

.navbar {
    width: 100%;
}


.list-navbar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-right:30% ;
}

.secciones-navbar {
    display:flex;
    justify-content: space-between;
    margin-left:50px;
    text-decoration: none;
    color: green;
    margin-top: 40px;
    font-size:20px ;
}

